@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


.purple-textbox
{
    @apply rounded-lg border-transparent appearance-none border-2
    border-gray-200 py-2 px-3 bg-white text-zinc-700 font-semibold
    placeholder-gray-400 text-base focus:outline-none
    focus:ring-2 focus:ring-purple-500 focus:border-transparent;
}

.purple-textbox-no-rounded
{
    @apply border-transparent appearance-none border
    border-gray-200 py-2 px-3 bg-white text-zinc-700 font-semibold
    placeholder-gray-400 text-base focus:outline-none
    focus:ring-2 focus:ring-purple-500 focus:border-transparent;
}

.gray-textbox
{
    @apply border-transparent appearance-none border
    border-gray-300 py-2 px-3 bg-white text-gray-800
    placeholder-gray-400 text-base focus:outline-none
    focus:ring-2 focus:ring-gray-500 focus:border-transparent;
}


.red-textbox
{
    @apply rounded-lg border-transparent appearance-none border
    border-red-300 py-2 px-3 bg-white text-red-800
    placeholder-red-400 text-base focus:outline-none
    focus:ring-2 focus:ring-red-500 focus:border-transparent;
}

.gray-label
{
    @apply pt-3 text-gray-500 px-3;
}

.error-label
{
    @apply py-2 px-4 text-red-500 text-sm;
}

.search-box
{
    @apply py-2 px-4 w-full pl-10 pr-2
    rounded-lg border-transparent appearance-none border
    border-gray-300 bg-white text-zinc-700 font-semibold
    placeholder-gray-400 shadow-md focus:outline-none
    focus:ring-2 focus:ring-purple-500 focus:border-transparent;
}



@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
@media (max-width: 640px) {
    /* Your mobile styles here */
}

@media (max-width: 767px) {
    /* Your mobile styles here */
}

@media (min-width: 1024px) {
    /* Your tap styles here */
}

@media (min-width: 1280px) {
    /* Your destop styles here */
}


.section-counter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.counter-item {
    text-align: center;
    margin-bottom: 20px;
}

.counter {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(135deg, #e6a6f4, #9d77e5);
}

.counter:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.counter:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 8px solid #f2f2f2;
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    opacity: 0.8;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.counter-number {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
    font-family: "Helvetica", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease;
}

.counter:hover .counter-number {
    color: #fff;
}

.counter-label {
    font-size: 14px;
    color: #fff;
    font-family: "Arial", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.counter:hover .counter-label {
    color: #fff;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
    .counter-number {
        font-size: 28px;
    }

    .counter-label {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .counter-number {
        font-size: 32px;
    }

    .counter-label {
        font-size: 13px;
    }
}

.team {
    font-size: 2.75rem;
    text-align: center;
}

#work{
    background-color: #f7f7f8;
}
.portfolio-thumb {
    margin-bottom: 30px;
}
.imgoverlay {
    position: relative;
    overflow: hidden;
    display: block;
    max-width: 100%
}

.imgoverlay img {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease
}

.imgoverlay:hover img {
    transform: scale(1.07);
    -ms-transform: scale(1.07);
    -webkit-transform: scale(1.07)
}

.imgoverlay .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(Opacity=0)";
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    transition: opacity .3s ease
}

.imgoverlay:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "alpha(Opacity=100)"
}

#imgoverlay .overlaycolor {
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: .8;
    filter: alpha(opacity=80);
    -ms-filter: alpha(Opacity=80);
}

.imgoverlay .overlayinfo {
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    top: 45%;
    left: 0;
    -webkit-transition: top .3s ease;
    -moz-transition: top .3s ease;
    -o-transition: top .3s ease;
    -ms-transition: top .3s ease;
    transition: top .3s ease;
}

.imgoverlay:hover .overlayinfo {
    top: 50%
}

.portfolio-thumb a{
    color:#fff;
    text-decoration: none;
}
.portfolio-thumb .work-description {
    text-align: center;
    padding: 20px 0;
}
.portfolio-thumb .work-description a{
    color:#333;
    text-transform: uppercase;
    font-size: 15px;
}
.overlayinfo h6 {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .1em
}

.contact {
    position: relative;
    padding: 60px 0;
}

.contact .container {
    max-width: 900px;
}

.contact .contact-info p {
    row-gap: 10px;
    margin-bottom: 5px;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
}
.contact .social {
    position: relative;
    width: 100%;
}

.contact .social a{
    display: inline-block;
    margin: 12px 12px 0 0;
    /*width: 40px;*/
    /*height: 40px;*/
    padding: 5px;
    text-align: center;
    font-size: 20px;
    border: 2px solid #3F69AA;
    border-radius: 30px;
}

.contact .social a i {
    color: #3F69AA;
}

.contact .social a:hover {
    background: #3F69AA;
}

.contact .social a:hover i {
    color: #ffffff;
}

#contact .form {
    color: #666666;
    font-weight: 300;
}

@media (max-width:768px) {
    .contact .form {
        margin-bottom: 30px;
    }
}

.contact .form input,
.contact .form textarea {
    color: #666666;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 15px;
    /*border: none;*/
    /*border: 2px solid #3F69AA;*/
    border-radius: 20px;
    box-shadow: none;
}

.contact .form input:focus,
.contact .form textarea:focus {
    box-shadow: 0 0 5px #3F69AA;
}


.hover-underline {
    display: inline-block;
    position: relative;
    color: cadetblue;
}

.hover-underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#last {
    font-size: 14px;
    background: #37517e;
}

.footer-newsletter {
    padding: 50px 0;
    align-items: center;
    background: #f3f5fa;
    text-align: center;
    font-size: 15px;
    color: #444444;
}

.footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #37517e;
}

.footer-newsletter form {
    margin-top: 30px;

    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
}

.footer-newsletter form input[type=email] {
    border: none;
}

.footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #47b2e4;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.footer-newsletter form input[type=submit]:hover {
    background: #209dd8;
}

.footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
}

.footer-top .footer-contact {
    margin-bottom: 30px;
}

.footer-top .footer-contact h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

.footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: white;
}

.footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: white;
    position: relative;
    padding-bottom: 12px;
}

.footer-top .footer-links {
    margin-bottom: 30px;
}

.footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-top .footer-links ul svg {
    padding-right: 2px;
    color: white;
    font-size: 18px;
    line-height: 1;
}

.footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

.footer-top .footer-links ul a {
    color: white;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: white;
}

.footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: white;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.footer-top .social-links a:hover {
    background: #209dd8;
    color: #fff;
    text-decoration: none;
}
